<div class="chat-list">
    <div class="left-phone-top"><img src="../../../resources/images/left-logo.png" alt="">公安局</div>
    <div class="top-search">
        <div class="top-search-input"><span class="icon-search-1"></span><input type="text" placeholder="搜索"></div>
        <div class="top-search-btn"><span class="icon-filter2"></span></div>
    </div>
    <ul class="chat-list-tasks scrollbar">
        <li (click)="handleClick(1)">
            <span class="blue duanxin"><span></span></span>
            <div class="history-warn-content">
                <div><span>13902948191</span><span>12:09</span></div>
                <p>
                    <span class="word-ellipsis">这里有人持械斗殴，请立即派人过来查看情况，支援现场</span>
                    <span class="count-tips">21</span>
                </p>
            </div>
        </li>
        <li (click)="handleClick(1)">
            <span class="blue dianhua"><span></span></span>
            <div class="history-warn-content">
                <div><span>张亮</span><span>12:09</span></div>
                <p>
                    <span class="word-ellipsis">这里有人持械斗殴，请立即派人过来查看情况，支援现场</span>
                    <span class="count-tips">2</span>
                </p>
            </div>
        </li>
        <li (click)="handleClick(1)">
            <span class="blue jifang"><span></span></span>
            <div class="history-warn-content">
                <div><span>张亮</span><span>12:09</span></div>
                <p>
                    <span class="word-ellipsis">这里有人持械斗殴，请立即派人过来查看情况，支援现场</span>
                    <span class="count-tips">2</span>
                </p>
            </div>
        </li>
        <li (click)="handleClick(1)">
            <span class="blue weixin"><span></span></span>
            <div class="history-warn-content">
                <div><span>张亮</span><span>12:09</span></div>
                <p>
                    <span class="word-ellipsis">这里有人持械斗殴，请立即派人过来查看情况，支援现场</span>
                    <span class="count-tips">2</span>
                </p>
            </div>
        </li>
    </ul>
</div>