<ul class="queue-list scrollbar">
    <li>
        <span class="blue">110</span>
        <div class="history-warn-content">
            <div><span>18601232678</span><span>00'09''</span></div>
        </div>
        <div class="biaoshi chaoshi">
            <span></span>
            <p>超时</p>
        </div>
    </li>
    <li>
        <span class="blue">119</span>
        <div class="history-warn-content">
            <div><span>021-39482912</span><span>00'09''</span></div>
        </div>
        <div class="biaoshi un-chaoshi">
            <span></span>
            <p>超时</p>
        </div>
    </li>
    <li>
        <span class="blue">110</span>
        <div class="history-warn-content">
            <div><span>18601232678</span><span>00'09''</span></div>
        </div>
        <div class="biaoshi chaoshi">
            <span></span>
            <p>超时</p>
        </div>
    </li>
    <li>
        <span class="blue">119</span>
        <div class="history-warn-content">
            <div><span>021-39482912</span><span>00'09''</span></div>
        </div>
        <div class="biaoshi un-chaoshi">
            <span></span>
            <p>超时</p>
        </div>
    </li>
    <li>
        <span class="blue">110</span>
        <div class="history-warn-content">
            <div><span>18601232678</span><span>12:09</span></div>
        </div>
        <div class="biaoshi un-chaoshi">
            <span></span>
            <p>超时</p>
        </div>
    </li>
    <li>
        <span class="blue">119</span>
        <div class="history-warn-content">
            <div><span>021-39482912</span><span>12:09</span></div>
        </div>
        <div class="biaoshi un-chaoshi">
            <span></span>
            <p>超时</p>
        </div>
    </li>
</ul>