<ul class="un-save scrollbar">
    <li>
        <span class="blue duanxin"><span></span></span>
        <div class="history-warn-content">
            <div><span>18601232678</span><span>12:09</span></div>
            <p><span class="word-ellipsis">宝山区示范新村307号</span><span class="word-ellipsis">匪警</span></p>
        </div>
    </li>
    <li>
        <span class="blue weixin"><span></span></span>
        <div class="history-warn-content">
            <div><span>021-39482912</span><span>12:09</span></div>
            <p><span class="word-ellipsis">闵行区东川路100号细叶饭馆对面</span><span class="word-ellipsis">火警</span></p>
        </div>
    </li>
    <li>
        <span class="blue dianhua"><span></span></span>
        <div class="history-warn-content">
            <div><span>18601232678</span><span>12:09</span></div>
            <p><span class="word-ellipsis">宝山区示范新村307号</span><span class="word-ellipsis">交通事故</span></p>
        </div>
    </li>
    <li>
        <span class="blue jifang"><span></span></span>
        <div class="history-warn-content">
            <div><span>18601232678</span><span>12:09</span></div>
            <p><span class="word-ellipsis">宝山区示范新村307号</span><span class="word-ellipsis">火警</span></p>
        </div>
    </li>
    <li>
        <span class="blue jifang"><span></span></span>
        <div class="history-warn-content">
            <div><span>18601232678</span><span>12:09</span></div>
            <p><span class="word-ellipsis">宝山区示范新村307号</span><span class="word-ellipsis">火警</span></p>
        </div>
    </li>
</ul>