.txt{
    padding: 0 8px;
    border: 1px solid #7A8BA8;
    border-radius: 16px;
    font-size: 20px;
    color: #5E6B82;
    margin-right: 12px;
    position: absolute;
    left: 25%;
    top: 3%;
    display: block;
    >input{
        margin: 0;
        padding: 0;
        height: 30px;
        width: 360px;
        border: none;
        background: none;
    }
}
ul{
    li .overlist{
        width: 191px;
        height: 128px;
        border: 1px solid #C1CDDA;
        float: left;
        margin-left: 8px;
        margin-top: 18px;
        border-radius: 10px;
        cursor: pointer;
        .takeoverlist{
            padding-top: 18px;
            padding-left: 15px;
            img{
                width: 56px;
                height: 56px;
                float: left;
            }
            .title{
                height: 24px;
                font-family: PingFangSC-Medium;
                font-size: 19px;
                color: #0A2A5E;
                letter-spacing: 0;
            }
            .detail{
                font-family: PingFangSC-Medium;
                font-size: 15px;
                color: #7A8BA8;
                letter-spacing: 0;
            }
        }
    }
}
.k-window-content, .k-prompt-container{
    padding: 0;
    padding-left: 5px !important;
}
.k-widget, .k-dropdown, .k-header{
    width: 100%;
    // height: 36px;
}
.k-button-group, .k-dialog-buttongroup, .k-dialog-button-layout-stretched{
    height: 108px;
    margin: 0 auto;
    div{
        margin: 0 auto;
    }
    .closetrue {
        border: none;
        background: #2493FF;
        color: #fff;
    }
    button{
        margin: 0;
        padding: 0;
        width: 191.2px;
        height: 33.4px;
        position: relative;
        top: 37px;
        border: 1px solid #C1CDDA;
        outline: none;
        border-radius: 4px;
    }
}