<div class="k-form">
    <label class="k-form-field">
        <span>从</span>
        <kendo-datepicker (valueChange)="onStartChange($event)"
            >
        </kendo-datepicker>
    </label>
    <label class="k-form-field">
        <span>至</span>
        <kendo-datepicker (valueChange)="onEndChange($event)"
            >
        </kendo-datepicker>
    <!-- <kendo-datetimepicker>
        </kendo-datetimepicker> -->

    <!-- <ng-template #kendoDateTimePickerInstance="kendo-datetimepicker">
        </ng-template>  -->
    <!-- <label class="k-form-field">
        <span>从</span>
        <input type="date" (valueChange)="onStartChange($event)"/>
    </label>
    <label class="k-form-field">
        <span>至</span>
        <input type="date" (valueChange)="onEndChange($event)"/> -->
    </label>
</div>