<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="width:25%;float:left;">
      <h1>
        主模块App下的app组件
      </h1>
  <ul>
    <li>
      <h2><a routerLink="/coc.incident.list" routerLinkActive="active">打开COC模块的组件页面</a></h2>
    </li>
    <li>
      <h2><a routerLink="/gis" routerLinkActive="active">打开GIS模块的组件页面</a></h2>
    </li>
    <li>
      <h2><a routerLink="/timeline" routerLinkActive="active">打开TimeLine模块的组件页面</a></h2>
    </li>
    <li>
      <h2><a routerLink="/monitor" routerLinkActive="active">打开Monitor模块的组件页面</a></h2>
    </li>
  </ul>
</div>
<div style="height:948px;width:1px;border-left:1px solid #000000;float:left;"></div>
<div style="width:calc(75% - 2px);float:left;padding:20px;">
  <router-outlet></router-outlet>  
</div> -->
<router-outlet></router-outlet>  
