
.timeline-video .header{
	position: relative;
    height: 40px;
    line-height: 40px;
	background: #00a1fd;;
	color: #ffffff;
    font-family: "微软雅黑";
	text-align: center;
	padding-top: 10px;
}
.header h5{
	margin-top: 5px;
}

.header .xxx {
	position: absolute;
	top: 38px;
	right: 0;
	background: #00a1fd;;
	color: #ffffff;
    font-family: "微软雅黑";
	text-align: center;
	font-size:16px;
	cursor: pointer;float: right;margin-top: -36px;margin-right: 10px;
}

.timeline-video .main {
	border: 2px solid #00A1FD;		
	padding: 2px;
}
.item img{
	width: 100%;
}
