<ul class="history-warn scrollbar">
    <li>
        <span class="icon-traffic green"></span>
        <div class="history-warn-content">
            <div class="word-ellipsis">黄浦区张西路1548号</div>
            <p>2019-01-20 12:20</p>
        </div>
        <i class="icon-link2"></i>
    </li>
    <li>
        <span class="icon-traffic blue"></span>
        <div class="history-warn-content">
            <div class="word-ellipsis">黄浦区张西路1548号</div>
            <p>2019-01-20 12:20</p>
        </div>
        <i class="icon-link2"></i>
    </li>
    <li>
        <span class="icon-traffic orange"></span>
        <div class="history-warn-content">
            <div class="word-ellipsis">黄浦区张西路1548号</div>
            <p>2019-01-20 12:20</p>
        </div>
        <i class="icon-link2"></i>
    </li>
    <li>
        <span class="icon-fire2 orange"></span>
        <div class="history-warn-content">
            <div class="word-ellipsis">黄浦区张西路1548号</div>
            <p>2019-01-20 12:20</p>
        </div>
        <i class="icon-link2"></i>
    </li>
    <li>
        <span class="icon-fire2 orange"></span>
        <div class="history-warn-content">
            <div class="word-ellipsis">黄浦区张西路1548号</div>
            <p>2019-01-20 12:20</p>
        </div>
        <i class="icon-link2"></i>
    </li>
</ul>