.secret-info{
    height: 350px;
    overflow-y: auto;
    padding: 5px 0 0 21px;
    .person{
        height: 74px;
        line-height: 74px;
        display: flex;
        align-items: center;
        position: relative;
        &:after{
            width: 100%;
            height: 1px;
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            background-image: linear-gradient(-90deg, rgba(0,0,0,0.20) 0%, rgba(0,0,0,0.10) 100%);
        }
        img{
            width: 48px;
            height: 48px;
            border-radius: 50%;
            float: left;
            margin-right: 13px;
        }
        .name{
            font-size: 20px;
            color: #FFFFFF;
            float: left;
            margin-right: 15px;
        }
        .icon-user{
            float: left;
            border: 1px solid #fff;
            border-radius: 50%;
            font-size: 20px;
            color: #fff;
            cursor: pointer;
            overflow: hidden;
            &:before{
                position: relative;
                top: 3px;
            }
        }
    }
    .secret-info-item{
        height: 52px;
        line-height: 56px;
        overflow: hidden;
        position: relative;
        padding-right: 14px;
        &:after{
            width: 100%;
            height: 1px;
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(-90deg, rgba(0,0,0,0.20) 0%, rgba(0,0,0,0.10) 100%);
        }
        &:nth-last-child(1) :after{
            content: none;
        }
        span{
            font-size: 18px;
            color: #FFFFFF;
        }
        span:nth-child(2){
            text-align: right;
            float: right;
            width: 235px;
        }
    }
}