<div class="secret-info scrollbar">
    <div class="person">
        <img src="../../../../resources/images/head/04.svg" alt="">
        <span class="name">黄任武</span>
        <span class="icon-user"></span>
    </div>
    <div class="secret-info-item">
        <span>身份证</span>
        <span>31010919801002921</span>
    </div>
    <div class="secret-info-item">
        <span>籍贯</span>
        <span>浙江</span>
    </div>
    <div class="secret-info-item">
        <span>电话</span>
        <span>18201983812</span>
    </div>
    <div class="secret-info-item">
        <span>婚姻状态</span>
        <span>已婚</span>
    </div>
    <div class="secret-info-item">
        <span>常住地址</span>
        <span class="word-ellipsis">广东省佛山市禅城区大高路</span>
    </div>
</div>